<div class="cl-page" id="settings">
  <div class="cl-bar-title">
      <a href="#profile" class="cl-btn" data-transition="slide-out">
        <i class="entypo-icon">&#59237;</i>
      </a>
    <div class="cl-title">Instellingen</div>
  </div>
  <div class="cl-content">
  	<form>

  		<div class="cl-form hide">

  		<h3>Zichtbaar</h3>
			<div class="radio-list">
		     	<label for="demo-radios-1" class="checked">
		        <input type="radio" id="demo-radios-1" name="demo-radios" checked=""> Zichtbaar</label>
		        <label for="demo-radios-2" class="">
		        <input type="radio" id="demo-radios-2" name="demo-radios"> Onzichtbaar</label>
	      	</div>
	    </div>
  	</form>


      <div id="avatarSection">
        <h4>Jouw profielfoto</h4>
        <span id="userAvatar" style="background: url('<%= imagePath %><%= user.avatar %>') no-repeat;     -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; "></span>
        <span id="avatarFunctionality">
          <a href="javascript:;" class=" cl-btn flat-green" id="changeAvatar">Nieuwe foto</a>
        </span>
      </div>

      <form id="mediaForm" action="javascript:;" methode="POST">
        <input type="file" name="file" class="hide" id="nonNativeFileField" accept="image/gif, image/jpeg, image/png"/>
      </form>

      <br/>

       <a href="javascript:;" id="signOutButton" class="cl-btn flat-green">Afmelden</a>

  </div>
</div>

