/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* apply a natural box layout model to all elements */
/* line 5, ../../../../Development/dev/sass/application.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* line 10, ../../../../Development/dev/sass/application.scss */
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* line 23, ../../../../Development/dev/sass/application.scss */
.clear {
  clear: both;
}

/* Error box */
/* line 28, ../../../../Development/dev/sass/application.scss */
label.error {
  background: #da5555;
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  color: #fff;
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  position: relative;
}

/* line 41, ../../../../Development/dev/sass/application.scss */
label.error:after {
  bottom: 100%;
  left: 36px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #da5555;
  border-width: 7px;
  margin-left: -25px;
}

/* line 56, ../../../../Development/dev/sass/application.scss */
form .cl-btn {
  width: 100% !important;
}

/* line 60, ../../../../Development/dev/sass/application.scss */
#activity-header {
  height: 150px;
  width: 100%;
  position: relative;
}

/* line 66, ../../../../Development/dev/sass/application.scss */
#activityMap, #map {
  height: 150px;
  width: 100%;
}

/* line 73, ../../../../Development/dev/sass/application.scss */
#sortBar p, #searchBar p {
  float: left;
}

/* line 79, ../../../../Development/dev/sass/application.scss */
#sortBar select {
  width: 170px;
  margin-top: 12px;
}

/* line 84, ../../../../Development/dev/sass/application.scss */
.entypo-icon {
  font-size: 3em;
  font-family: 'EntypoRegular';
  font-style: inherit;
}

/* line 92, ../../../../Development/dev/sass/application.scss */
#navigateButton {
  display: inline-block;
  background: #fff;
  float: right;
}

/* line 104, ../../../../Development/dev/sass/application.scss */
#createActivity .cl-btn-toolbar .cl-btn,
#activityDetail .cl-btn-toolbar .cl-btn,
#activityDetail .cl-btn-toolbar.flex .cl-btn:nth-child(2):not(:last-child),
#profile .cl-btn-toolbar .cl-btn,
#navigationView .cl-btn-toolbar .cl-btn {
  border-radius: 0;
  margin-right: 0;
  padding: 8px 0;
  margin: 0;
  background: #d55353;
}

/* line 112, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-btn-toolbar .cl-btn.active, #navigationTabs .cl-btn-toolbar .cl-btn.active {
  background: #fff !important;
  color: #d55353;
}

/* line 118, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-btn-toolbar.flex {
  padding: 0;
}

/* line 122, ../../../../Development/dev/sass/application.scss */
#activityDetail hr {
  background-color: #fff;
  border: #000 1px dotted;
  border-style: none none dotted;
  color: #fff;
}

/* line 132, ../../../../Development/dev/sass/application.scss */
#availibleBar .cl-btn {
  background: #c68436;
}

/* line 136, ../../../../Development/dev/sass/application.scss */
#availibleBar .cl-btn:first-child {
  background: #af7633;
}

/* line 140, ../../../../Development/dev/sass/application.scss */
#createActivityTabs, #navigationTabs {
  margin: 0;
  padding: 0;
}

/* line 145, ../../../../Development/dev/sass/application.scss */
#createActivityTabs .active, #profileTabs .active, #navigationTabs .active {
  background: #fff;
  color: #000000;
}

/* line 150, ../../../../Development/dev/sass/application.scss */
#profile .cl-btn-toolbar.flex {
  padding: 0;
}

/* line 155, ../../../../Development/dev/sass/application.scss */
#map_canvas, #googleMap {
  width: 100%;
  height: 100%;
  display: block;
}

/* Create new user page */
/* line 167, ../../../../Development/dev/sass/application.scss */
#createUserForm input.error, #loginForm input.error {
  margin-bottom: 0;
}

/* Login page */
/* line 174, ../../../../Development/dev/sass/application.scss */
.error-box {
  background: #da5555;
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  color: #fff;
}

/* line 184, ../../../../Development/dev/sass/application.scss */
.error-box.hide {
  display: none;
}

/* line 187, ../../../../Development/dev/sass/application.scss */
.error-box.show {
  display: block;
}

/* line 192, ../../../../Development/dev/sass/application.scss */
#FBloginButton {
  margin-bottom: 10px;
}

/**
* Pageslider
*/
/* line 199, ../../../../Development/dev/sass/application.scss */
#container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 206, ../../../../Development/dev/sass/application.scss */
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 216, ../../../../Development/dev/sass/application.scss */
.page.page-left {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 221, ../../../../Development/dev/sass/application.scss */
.page.page-center {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 226, ../../../../Development/dev/sass/application.scss */
.page.page-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/* line 231, ../../../../Development/dev/sass/application.scss */
.page.transition {
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}

/**
* Backbone autocomplete
*/
/* line 240, ../../../../Development/dev/sass/application.scss */
ul.autocomplete {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  margin: 0;
  padding: 3px 0;
  width: 100% !important;
  z-index: 1000;
}

/* line 250, ../../../../Development/dev/sass/application.scss */
ul.autocomplete li {
  list-style: none;
  margin: 0;
  padding: 5px 7px;
}

/* line 256, ../../../../Development/dev/sass/application.scss */
ul.autocomplete li.active, ul.autocomplete li:hover {
  cursor: pointer;
  background-color: #d3d3d3;
}

/* line 261, ../../../../Development/dev/sass/application.scss */
ul.autocomplete li a {
  color: #3d3d3d;
  text-decoration: none;
}

/* line 267, ../../../../Development/dev/sass/application.scss */
.align-center {
  text-align: center;
}

/* line 273, ../../../../Development/dev/sass/application.scss */
.field > span {
  display: block;
  overflow: hidden;
  padding-right: 10px;
}

/* line 278, ../../../../Development/dev/sass/application.scss */
.field input[type=text] {
  width: 100%;
}

/* line 281, ../../../../Development/dev/sass/application.scss */
.field input[type=button] {
  float: right;
}

/* line 291, ../../../../Development/dev/sass/application.scss */
#friendsListView div {
  float: left;
}
/* line 295, ../../../../Development/dev/sass/application.scss */
#friendsListView div, #friendsListView .friendsBox {
  display: inline-block;
}

/* Page specific */
/* line 305, ../../../../Development/dev/sass/application.scss */
#waarContent #map_canvas {
  height: 400px;
}

/* line 312, ../../../../Development/dev/sass/application.scss */
#navigationView #map_canvas {
  height: 50%;
}
/* line 316, ../../../../Development/dev/sass/application.scss */
#navigationView #directions {
  height: 50%;
}

/* line 325, ../../../../Development/dev/sass/application.scss */
#myInvitationsTable .cl-table-cell {
  padding: 10px 0;
}
/* line 329, ../../../../Development/dev/sass/application.scss */
#myInvitationsTable .cl-table-cell a {
  display: inline-block;
}
/* line 333, ../../../../Development/dev/sass/application.scss */
#myInvitationsTable .cl-btn-group.float {
  display: inline-block;
  float: right;
}

/*
* Final styling 
*/
/* line 346, ../../../../Development/dev/sass/application.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 350, ../../../../Development/dev/sass/application.scss */
input.error {
  border: 1px solid #e54c2e !important;
}

/**
* FORM PAGES
*/
/* line 358, ../../../../Development/dev/sass/application.scss */
#home, #createUser, #createActivity, #settings {
  background: #303d4d url("../../common/img/home_background.png") top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
/* line 366, ../../../../Development/dev/sass/application.scss */
#home .cl-btn-header, #createUser .cl-btn-header, #createActivity .cl-btn-header, #settings .cl-btn-header {
  border: 0;
  padding: 0;
}
/* line 371, ../../../../Development/dev/sass/application.scss */
#home .cl-content, #createUser .cl-content, #createActivity .cl-content, #settings .cl-content {
  background: none;
  height: 100%;
  width: 100%;
  overflow: auto;
}
/* line 377, ../../../../Development/dev/sass/application.scss */
#home .cl-content hr, #createUser .cl-content hr, #createActivity .cl-content hr, #settings .cl-content hr {
  color: #FF0000;
  border: none;
  border-top: 1px solid #67737d;
  height: 1px;
}
/* line 384, ../../../../Development/dev/sass/application.scss */
#home .cl-content #loginBox, #createUser .cl-content #loginBox, #createActivity .cl-content #loginBox, #settings .cl-content #loginBox {
  height: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: .93;
  /* layer alpha */
  background-color: #2f3d4d;
  /* color overlay */
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.07);
  /* inner glow */
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.07);
  /* inner glow */
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.07);
  /* inner glow */
}
/* line 396, ../../../../Development/dev/sass/application.scss */
#home .cl-content h4, #createUser .cl-content h4, #createActivity .cl-content h4, #settings .cl-content h4 {
  color: #fff;
  font-family: "bitteritalic";
  padding: 10px 0;
}
/* line 402, ../../../../Development/dev/sass/application.scss */
#home .cl-content #home_logo, #createUser .cl-content #home_logo, #createActivity .cl-content #home_logo, #settings .cl-content #home_logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}
/* line 409, ../../../../Development/dev/sass/application.scss */
#home .cl-content input[type=email], #home .cl-content input[type=password], #home .cl-content input[type=text], #home .cl-content input[type=date], #home .cl-content input[type=time], #home .cl-content textarea, #createUser .cl-content input[type=email], #createUser .cl-content input[type=password], #createUser .cl-content input[type=text], #createUser .cl-content input[type=date], #createUser .cl-content input[type=time], #createUser .cl-content textarea, #createActivity .cl-content input[type=email], #createActivity .cl-content input[type=password], #createActivity .cl-content input[type=text], #createActivity .cl-content input[type=date], #createActivity .cl-content input[type=time], #createActivity .cl-content textarea, #settings .cl-content input[type=email], #settings .cl-content input[type=password], #settings .cl-content input[type=text], #settings .cl-content input[type=date], #settings .cl-content input[type=time], #settings .cl-content textarea {
  background: none;
  border: none;
  color: #fff;
  padding: 20px 0 20px 10px;
  font-size: 1.1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  outline: none;
  margin: 0;
}
/* line 420, ../../../../Development/dev/sass/application.scss */
#home .cl-content input[type=email], #createUser .cl-content input[type=email], #createActivity .cl-content input[type=email], #settings .cl-content input[type=email] {
  padding-left: 34px;
  background: url("assets/mail-icon@x2.png") no-repeat 10px 15px/15px 12px;
}
/* line 425, ../../../../Development/dev/sass/application.scss */
#home .cl-content input[type=password], #createUser .cl-content input[type=password], #createActivity .cl-content input[type=password], #settings .cl-content input[type=password] {
  padding-left: 34px;
  background: url("assets/lock-icon@x2.png") no-repeat 10px 12px/12px 16px;
}
/* line 430, ../../../../Development/dev/sass/application.scss */
#home .cl-content #nameInput, #createUser .cl-content #nameInput, #createActivity .cl-content #nameInput, #settings .cl-content #nameInput {
  padding-left: 34px;
  background: url("assets/speech-icon@x2.png") no-repeat 10px 12px/15px 15px;
}

/**
* CreateUser
*/
/* line 441, ../../../../Development/dev/sass/application.scss */
#createUser, #createActivity, #settings {
  background: #2f404b;
}
/* line 444, ../../../../Development/dev/sass/application.scss */
#createUser .cl-content, #createActivity .cl-content, #settings .cl-content {
  height: calc(100% - 140px);
}
/* line 448, ../../../../Development/dev/sass/application.scss */
#createUser .cl-message, #createActivity .cl-message, #settings .cl-message {
  padding: 10px;
  background-color: #fef5e4;
  line-height: 1.6em;
}
/* line 454, ../../../../Development/dev/sass/application.scss */
#createUser .cl-form, #createActivity .cl-form, #settings .cl-form {
  position: relative;
}
/* line 457, ../../../../Development/dev/sass/application.scss */
#createUser .cl-form .radio-list, #createActivity .cl-form .radio-list, #settings .cl-form .radio-list {
  padding-left: 34px;
  background: url("assets/name-icon@x2.png") no-repeat 10px 12px/15px 15px;
}
/* line 462, ../../../../Development/dev/sass/application.scss */
#createUser .cl-form .radio-list label, #createActivity .cl-form .radio-list label, #settings .cl-form .radio-list label {
  background: none;
  border: none;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
  border-radius: 3px;
}
/* line 471, ../../../../Development/dev/sass/application.scss */
#createUser .cl-form .radio-list label.checked, #createActivity .cl-form .radio-list label.checked, #settings .cl-form .radio-list label.checked {
  border: none;
  color: #fff;
  font-weight: bold;
}
/* line 477, ../../../../Development/dev/sass/application.scss */
#createUser .cl-form .radio-list label:first-child.checked, #createActivity .cl-form .radio-list label:first-child.checked, #settings .cl-form .radio-list label:first-child.checked {
  background: #23cddd;
}
/* line 481, ../../../../Development/dev/sass/application.scss */
#createUser .cl-form .radio-list label:last-child.checked, #createActivity .cl-form .radio-list label:last-child.checked, #settings .cl-form .radio-list label:last-child.checked {
  background: #ff7f66;
}

/* line 488, ../../../../Development/dev/sass/application.scss */
#createUser #range, #createUser #participants, #watContent #range, #watContent #participants {
  width: auto;
  height: auto;
  text-align: center;
  background: #23cddd;
  padding: 7px 12px;
  float: right;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
/* line 500, ../../../../Development/dev/sass/application.scss */
#createUser h4, #watContent h4 {
  float: left;
}

/**
* Loading
*/
/* line 509, ../../../../Development/dev/sass/application.scss */
#loading {
  background: #303d4d url("../../common/img/loading_background.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
/* line 517, ../../../../Development/dev/sass/application.scss */
#loading h2 {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-top: 20px;
  vertical-align: middle;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  display: inline-block;
}
/* line 528, ../../../../Development/dev/sass/application.scss */
#loading h2 small {
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

/**
* Select sports
*/
/* line 542, ../../../../Development/dev/sass/application.scss */
#favouriteSportsSelector .cl-content {
  background: #fef5e4;
  height: calc(100% - 182px);
}
/* line 546, ../../../../Development/dev/sass/application.scss */
#favouriteSportsSelector .cl-content #favouriteSportList {
  width: 100%;
}
/* line 549, ../../../../Development/dev/sass/application.scss */
#favouriteSportsSelector .cl-content #favouriteSportList div {
  float: left;
  display: inline-block;
}
/* line 553, ../../../../Development/dev/sass/application.scss */
#favouriteSportsSelector .cl-content #favouriteSportList div span {
  display: block;
  text-align: center;
  font-size: 11px;
}
/* line 559, ../../../../Development/dev/sass/application.scss */
#favouriteSportsSelector .cl-content #favouriteSportList div a {
  width: 86px;
  height: 86px;
  background: #d2d2d2;
  margin: 10px;
  padding: 5px;
  float: left;
  text-align: center;
  font-size: 12px;
  border-radius: 40px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
/* line 579, ../../../../Development/dev/sass/application.scss */
#favouriteSportsSelector .cl-content #favouriteSportList div a.selected .layer {
  background-color: rgba(86, 192, 189, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 86px;
  height: 86px;
  border-radius: 40px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  pointer-events: none;
}

/**
* Dashboard
*/
/* line 601, ../../../../Development/dev/sass/application.scss */
#dashboard {
  position: relative;
}
/* line 605, ../../../../Development/dev/sass/application.scss */
#dashboard .cl-bar-title .add-icon {
  display: block;
  padding: 14px;
  background: url("assets/add-icon@x2.png") no-repeat center right/20px 20px;
  height: 20px;
  width: 20px;
}
/* line 613, ../../../../Development/dev/sass/application.scss */
#dashboard .cl-bar-title .search-icon {
  display: block;
  padding: 14px;
  background: url("assets/search-icon@x2.png") no-repeat center left/18px 18px;
  height: 18px;
  width: 18px;
}
/* line 622, ../../../../Development/dev/sass/application.scss */
#dashboard #fullScreenButton {
  width: 36px;
  height: 40px;
  z-index: 100;
  position: absolute;
  right: 0;
  top: 74px;
  background: #378488 url("assets/fullscreen-icon@x2.png") no-repeat center center/15px 15px;
}
/* line 632, ../../../../Development/dev/sass/application.scss */
#dashboard .cl-content {
  height: calc(100% - 262px);
  background: #1f3146;
}
/* line 636, ../../../../Development/dev/sass/application.scss */
#dashboard .cl-content .cl-message {
  padding: 20px 10px;
  background-color: #fef5e4;
  line-height: 1.6em;
}
/* line 643, ../../../../Development/dev/sass/application.scss */
#dashboard #sortBar {
  background-color: #d95555;
  /* layer fill content */
  z-index: 1000;
}
/* line 647, ../../../../Development/dev/sass/application.scss */
#dashboard #sortBar select {
  background: none;
  border: 0;
  -webkit-appearance: none;
  margin: 0;
  line-height: 44px;
  position: absolute;
  left: 105px;
  width: 100%;
  text-transform: uppercase;
}
/* line 660, ../../../../Development/dev/sass/application.scss */
#dashboard #map_canvas {
  height: 110px;
  border-left: 3px solid #d95555;
  border-right: 3px solid #d95555;
}
/* line 668, ../../../../Development/dev/sass/application.scss */
#dashboard #activityTable .cl-table-cell {
  background: #4fbab6;
  margin-bottom: 2px;
}
/* line 672, ../../../../Development/dev/sass/application.scss */
#dashboard #activityTable .cl-table-cell .full {
  position: absolute;
  right: 0;
  top: 15px;
  background-color: #d95555;
  padding: 5px;
  color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  text-transform: uppercase;
  font-family: "source_sans_prosemibold";
}
/* line 685, ../../../../Development/dev/sass/application.scss */
#dashboard #activityTable .cl-table-cell span {
  margin: 5px 10px;
}
/* line 689, ../../../../Development/dev/sass/application.scss */
#dashboard #activityTable .cl-table-cell a {
  padding: 0;
}
/* line 693, ../../../../Development/dev/sass/application.scss */
#dashboard #activityTable .cl-table-cell h3 {
  margin: 5px 0;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
/* line 700, ../../../../Development/dev/sass/application.scss */
#dashboard #activityTable .cl-table-cell h3 small {
  font-size: 14px;
  font-weight: normal;
}
/* line 707, ../../../../Development/dev/sass/application.scss */
#dashboard #activityTable .cl-table-cell .dashboard-footer {
  display: block;
  background: #378488;
}
/* line 711, ../../../../Development/dev/sass/application.scss */
#dashboard #activityTable .cl-table-cell .dashboard-footer ul {
  margin: 0 10px;
}
/* line 714, ../../../../Development/dev/sass/application.scss */
#dashboard #activityTable .cl-table-cell .dashboard-footer ul li {
  font-size: 12px;
  display: inline-block;
  color: #fff;
  padding-left: 20px;
  min-height: 36px;
}
/* line 722, ../../../../Development/dev/sass/application.scss */
#dashboard #activityTable .cl-table-cell .dashboard-footer ul .table-location {
  padding-left: 20px;
  background: url("assets/cursor-icon@x2.png") no-repeat 0 10px/11px 15px;
  margin-right: 30px;
  float: left;
  line-height: 36px;
}
/* line 730, ../../../../Development/dev/sass/application.scss */
#dashboard #activityTable .cl-table-cell .dashboard-footer ul .table-friends {
  background: url("assets/friend-icon@x2.png") no-repeat 0 12px/13px 13px;
}
/* line 733, ../../../../Development/dev/sass/application.scss */
#dashboard #activityTable .cl-table-cell .dashboard-footer ul .table-friends .avatar {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-rafisu: 25px;
  margin: 6px 0 0 5px;
  float: left;
}

/* line 753, ../../../../Development/dev/sass/application.scss */
#mainNav {
  background: #31414f;
  height: 54px;
}
/* line 757, ../../../../Development/dev/sass/application.scss */
#mainNav .tab-item {
  position: relative;
  text-align: center;
  width: auto;
  float: left;
  margin: 12px 11px;
  height: auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  display: block;
}
/* line 769, ../../../../Development/dev/sass/application.scss */
#mainNav .tab-item a .tab-label {
  color: #fff;
  font-family: "source_sans_prosemibold";
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px;
}
/* line 780, ../../../../Development/dev/sass/application.scss */
#mainNav .active .tab-label {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #fff;
}

/* line 790, ../../../../Development/dev/sass/application.scss */
#dashboard.mapOpen #sortBar {
  display: none;
}
/* line 793, ../../../../Development/dev/sass/application.scss */
#dashboard.mapOpen .cl-content {
  display: none;
}
/* line 797, ../../../../Development/dev/sass/application.scss */
#dashboard.mapOpen #map_canvas {
  height: calc(100% - 108px);
  border-left: 3px solid #d95555;
  border-right: 3px solid #d95555;
}
/* line 803, ../../../../Development/dev/sass/application.scss */
#dashboard.mapOpen #fullScreenButton {
  background: #378488 url("assets/normalscreen-icon@x2.png") no-repeat center center/15px 15px;
}

/** 
* Settings
*/
/* line 816, ../../../../Development/dev/sass/application.scss */
#settings .cl-content {
  padding: 0;
  height: calc(100% - 74px);
}
/* line 820, ../../../../Development/dev/sass/application.scss */
#settings .cl-content h4 {
  text-align: center;
}
/* line 825, ../../../../Development/dev/sass/application.scss */
#settings .cl-content li {
  padding: 15px 10px;
}
/* line 828, ../../../../Development/dev/sass/application.scss */
#settings .cl-content li:nth-child(odd) {
  background: #72848f;
}
/* line 833, ../../../../Development/dev/sass/application.scss */
#settings .cl-content #favouriteSportList {
  width: 100%;
  overflow: auto;
  padding-bottom: 10px;
}
/* line 838, ../../../../Development/dev/sass/application.scss */
#settings .cl-content #favouriteSportList div {
  float: left;
  display: inline-block;
}
/* line 842, ../../../../Development/dev/sass/application.scss */
#settings .cl-content #favouriteSportList div span {
  display: block;
  text-align: center;
  font-size: 11px;
}
/* line 848, ../../../../Development/dev/sass/application.scss */
#settings .cl-content #favouriteSportList div a {
  width: 86px;
  height: 86px;
  background: #d2d2d2;
  margin: 10px;
  padding: 5px;
  float: left;
  text-align: center;
  font-size: 12px;
  border-radius: 40px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  color: #fff;
}
/* line 870, ../../../../Development/dev/sass/application.scss */
#settings .cl-content #avatarSection {
  margin-bottom: 10px;
  overflow: auto;
  clear: both;
}
/* line 875, ../../../../Development/dev/sass/application.scss */
#settings .cl-content #avatarSection #userAvatar {
  width: 120px;
  height: 120px;
  display: inline-block;
  border-radius: 60px;
  float: left;
}
/* line 883, ../../../../Development/dev/sass/application.scss */
#settings .cl-content #avatarSection #avatarFunctionality {
  display: inline-block;
  margin-top: 40px;
  margin-left: 20px;
}
/* line 890, ../../../../Development/dev/sass/application.scss */
#settings .cl-content #signOutButton {
  clear: both;
  margin: 0;
}

/**
* Activity Detail
*/
/* line 901, ../../../../Development/dev/sass/application.scss */
#activityDetail {
  background: #31424f;
}
/* line 905, ../../../../Development/dev/sass/application.scss */
#activityDetail .user_avatar {
  display: inline-block;
  border-radius: 42px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  width: 50px;
  height: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 5px;
  margin-top: 5px;
}
/* line 922, ../../../../Development/dev/sass/application.scss */
#activityDetail #mediaContent #addMediaButton {
  width: 100%;
  margin-bottom: 20px;
}
/* line 928, ../../../../Development/dev/sass/application.scss */
#activityDetail #mediaContent #mediaContenList img {
  width: 100%;
  height: auto;
}
/* line 933, ../../../../Development/dev/sass/application.scss */
#activityDetail #mediaContent #mediaContenList .user-box {
  background: #dadada;
  padding: 10px 5px;
  margin: 0 0 35px 0;
}
/* line 941, ../../../../Development/dev/sass/application.scss */
#activityDetail #activityInfo {
  height: 40px;
  width: 100%;
  background: rgba(55, 55, 55, 0.5);
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 0 10px;
}
/* line 950, ../../../../Development/dev/sass/application.scss */
#activityDetail #activityInfo span {
  float: left;
  line-height: 40px;
}
/* line 955, ../../../../Development/dev/sass/application.scss */
#activityDetail #activityInfo #navigateButton {
  padding: 10px;
  margin-top: 4px;
  font-size: 12px;
  color: #252d34;
}
/* line 963, ../../../../Development/dev/sass/application.scss */
#activityDetail #activityDetailTabs {
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: uppercase;
}
/* line 970, ../../../../Development/dev/sass/application.scss */
#activityDetail #activityDetailTabs .cl-btn {
  font-size: 11px;
}
/* line 975, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content {
  padding: 0 5px 0 5px;
  background: #31424f;
  overflow-y: auto;
  height: calc(100% - 272px);
}
/* line 985, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content #activityContent {
  background: #fff;
  position: relative;
  overflow: auto;
  height: 100%;
}
/* line 992, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content #praktischContent, #activityDetail .cl-content #mediaContent, #activityDetail .cl-content #messagesContent ul {
  padding: 10px 10px 0 10px;
  padding-bottom: 20px;
}
/* line 997, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content #praktischContent span, #activityDetail .cl-content #mediaContent span, #activityDetail .cl-content #messagesContent ul span {
  float: right;
  color: #31414f;
}
/* line 1004, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content #aanwezigContent div {
  float: left;
  margin-right: 5px;
}
/* line 1010, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content h4 {
  display: inline-block;
  font-family: "source_sans_prosemibold";
  text-transform: uppercase;
  font-size: 12px;
}
/* line 1017, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content hr {
  color: #FF0000;
  border: none;
  border-top: 1px solid #d55353;
  height: 1px;
  margin: 12px 0 24px 0;
  clear: both;
  display: block;
}
/* line 1027, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content #messagesContent ul {
  padding-bottom: 10px;
}
/* line 1028, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content #messagesContent ul .cl-message {
  padding: 20px 10px;
  background-color: #fef5e4;
  line-height: 1.6em;
}
/* line 1038, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content #messageBox {
  background: #e6e6e6;
  border-top: 1px solid #cacaca;
  z-index: 20000;
  overflow: auto;
  padding: 5px 10px;
}
/* line 1045, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content #messageBox #messageSubmit {
  width: 100px !important;
  float: right;
}
/* line 1050, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content #messageBox #messageInput {
  border: 0;
  -webkit-appereance: none;
  border-radius: 3px;
  -wekit-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 100%;
  height: 37px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 3px 0 0 7px;
}
/* line 1064, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content .message {
  margin: 0 0 15px 0;
  clear: both;
}
/* line 1068, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content .message h3 {
  font-size: 1.1em;
  display: block;
  float: none;
  margin-bottom: 4px;
  color: #31414f;
  font-family: "source_sans_prosemibold";
}
/* line 1077, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content .message .avatar {
  width: 40px;
  height: 40px;
  border-radius: 42px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  width: 50px;
  height: 50px;
  float: left;
}
/* line 1088, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content .message .messageBody {
  position: relative;
  height: auto;
  padding: 0px;
  background: #dadada;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 58px;
}
/* line 1100, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content .message .messageBody p {
  color: #31414f;
}
/* line 1105, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content .message .messageBody:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -5px;
  border-style: solid;
  border-width: 13px 13px 13px 0;
  border-color: transparent #dadada;
  display: block;
  width: 0;
  z-index: 1;
}
/* line 1119, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content .message:odd {
  display: none;
}
/* line 1123, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content #goingList {
  margin-bottom: 30px;
}
/* line 1126, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content #goingList label {
  border: 1px solid #378488;
  color: #252d34;
  text-align: center;
}
/* line 1132, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content #goingList label:first-child {
  border-right: none;
}
/* line 1136, ../../../../Development/dev/sass/application.scss */
#activityDetail .cl-content #goingList .checked {
  background: #4cd6d1;
  color: #252d34;
}

/* line 1144, ../../../../Development/dev/sass/application.scss */
#searchBar {
  padding: 1px 5px;
  height: auto;
  background: #b04646 !important;
}
/* line 1149, ../../../../Development/dev/sass/application.scss */
#searchBar #searchForm input[type=search] {
  color: #fff;
  border: 0;
  width: 100%;
  border-radius: 0;
  padding: .8em .6em .8em .6em;
  font-size: 1em;
  border: 0;
  display: block;
  height: 40px;
  background: #b04646;
  padding-left: 28px;
  background: url("assets/search-icon@x2.png") no-repeat 10px 14px/12px 12px;
}

/** 
* Create Activity
*/
/* line 1171, ../../../../Development/dev/sass/application.scss */
#createActivity .cl-content {
  height: calc(100% - 192px);
}
/* line 1176, ../../../../Development/dev/sass/application.scss */
#createActivity #createActivityTabs .active {
  background: #2e3e4b;
  color: #fff;
}
/* line 1183, ../../../../Development/dev/sass/application.scss */
#createActivity #wieContent .friend-box {
  margin: 15px;
  width: 100px;
  display-inline: block;
  float: left;
}
/* line 1189, ../../../../Development/dev/sass/application.scss */
#createActivity #wieContent .friend-box h3 {
  color: #fff;
}
/* line 1193, ../../../../Development/dev/sass/application.scss */
#createActivity #wieContent .friend-box .cl-btn {
  clear: both;
}
/* line 1197, ../../../../Development/dev/sass/application.scss */
#createActivity #wieContent .friend-box .friend-avatar {
  border-radius: 56px;
  -webkit-border-radius: 56px;
  -moz-border-radius: 56px;
  width: 100px;
  height: 100px;
  float: left;
}

/**
*  Planner
*/
/* line 1215, ../../../../Development/dev/sass/application.scss */
#planner .cl-content {
  height: calc(100% - 108px);
  background: #e4e4e4;
}
/* line 1220, ../../../../Development/dev/sass/application.scss */
#planner .cl-content .cl-bar {
  background: #fef5e4;
}
/* line 1222, ../../../../Development/dev/sass/application.scss */
#planner .cl-content .cl-bar .cl-bar-text {
  color: #2f404c;
}
/* line 1227, ../../../../Development/dev/sass/application.scss */
#planner .cl-content .cl-table-cell {
  margin-bottom: 2px;
}
/* line 1230, ../../../../Development/dev/sass/application.scss */
#planner .cl-content .cl-table-cell span {
  margin: 5px 10px;
}
/* line 1234, ../../../../Development/dev/sass/application.scss */
#planner .cl-content .cl-table-cell a {
  padding: 0;
}
/* line 1238, ../../../../Development/dev/sass/application.scss */
#planner .cl-content .cl-table-cell h3 {
  margin: 5px 0;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  color: #2d3d4a;
}
/* line 1245, ../../../../Development/dev/sass/application.scss */
#planner .cl-content .cl-table-cell h3 small {
  font-size: 16px;
  font-weight: normal;
}

/**
* Avatar
*/
/* line 1259, ../../../../Development/dev/sass/application.scss */
#avatarView #barContainer #bars {
  padding: 10px;
  width: 30%;
  position: absolute;
  top: 30%;
}
/* line 1265, ../../../../Development/dev/sass/application.scss */
#avatarView #barContainer #bars h4 {
  text-transform: uppercase;
  margin-bottom: 3px;
}
/* line 1270, ../../../../Development/dev/sass/application.scss */
#avatarView #barContainer #bars progress {
  margin-bottom: 10px;
}
/* line 1276, ../../../../Development/dev/sass/application.scss */
#avatarView #avatar {
  background: #ededed;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}

/**
*  Profile
*/
/* line 1291, ../../../../Development/dev/sass/application.scss */
#profile #profileTabs .active {
  background: #fff;
  color: #d55353;
}
/* line 1297, ../../../../Development/dev/sass/application.scss */
#profile .cl-content {
  height: calc(100% - 156px);
  background: #fff;
}
/* line 1301, ../../../../Development/dev/sass/application.scss */
#profile .cl-content .friend-box {
  margin: 10px;
  width: 100px;
  display-inline: block;
  float: left;
}
/* line 1307, ../../../../Development/dev/sass/application.scss */
#profile .cl-content .friend-box h3 {
  color: #31414f;
  text-align: center;
  font-size: 1.4em;
  font-family: "source_sans_prosemibold";
}
/* line 1314, ../../../../Development/dev/sass/application.scss */
#profile .cl-content .friend-box .friend-avatar {
  border-radius: 56px;
  -webkit-border-radius: 56px;
  -moz-border-radius: 56px;
  width: 100px;
  height: 100px;
  float: left;
}
/* line 1323, ../../../../Development/dev/sass/application.scss */
#profile .cl-content .friend-box .removeFriend {
  float: left;
  clear: both;
  width: 100px;
  text-align: center;
  margin-top: 10px;
}
/* line 1332, ../../../../Development/dev/sass/application.scss */
#profile .cl-content .cl-bar {
  background: #fef5e4;
}
/* line 1334, ../../../../Development/dev/sass/application.scss */
#profile .cl-content .cl-bar .cl-bar-text {
  color: #2f404c;
}

/* line 1341, ../../../../Development/dev/sass/application.scss */
#challengeView {
  background: #e4e4e4;
}
/* line 1346, ../../../../Development/dev/sass/application.scss */
#challengeView .badge_img {
  float: left;
  display: inline-block;
  margin-right: 5px;
}
/* line 1352, ../../../../Development/dev/sass/application.scss */
#challengeView .challenge-item {
  padding: 10px 5px;
  margin-bottom: 2px;
}
/* line 1355, ../../../../Development/dev/sass/application.scss */
#challengeView .challenge-item a {
  min-height: 20px;
  vertical-align: center;
}
/* line 1360, ../../../../Development/dev/sass/application.scss */
#challengeView .challenge-item p {
  padding-right: 90px;
  font-size: 12px;
  line-height: 1.4em;
}
/* line 1368, ../../../../Development/dev/sass/application.scss */
#challengeView #myChallengesOverviewTable p {
  padding-right: 0;
}
/* line 1373, ../../../../Development/dev/sass/application.scss */
#challengeView .cl-btn {
  display: inline-block;
  width: auto;
  float: right;
  position: absolute;
  right: 5px;
  top: 5px;
}
/* line 1382, ../../../../Development/dev/sass/application.scss */
#challengeView h3 {
  display: inline-block;
  font-size: 1.3em;
  margin-bottom: 5px;
}
/* line 1388, ../../../../Development/dev/sass/application.scss */
#challengeView #progressContainer {
  width: 100%;
  display: block;
  padding: 10px 0;
}
/* line 1393, ../../../../Development/dev/sass/application.scss */
#challengeView #progressContainer progress {
  width: 100%;
}
/* line 1399, ../../../../Development/dev/sass/application.scss */
#challengeView #badgesOverview .cl-table-cell {
  width: auto;
  float: left;
}
/* line 1403, ../../../../Development/dev/sass/application.scss */
#challengeView #badgesOverview .cl-table-cell .badge_img {
  float: left;
  display: inline-block;
}

/** 
* Friend
*/
/* line 1414, ../../../../Development/dev/sass/application.scss */
#friendView {
  position: relative;
}
/* line 1417, ../../../../Development/dev/sass/application.scss */
#friendView #avatarView {
  height: 400px;
  position: relative;
}
/* line 1422, ../../../../Development/dev/sass/application.scss */
#friendView .avatar {
  display: inline-block;
  width: 100%;
  height: 170px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 5px;
}
/* line 1433, ../../../../Development/dev/sass/application.scss */
#friendView .cl-content {
  padding: 10px;
}
/* line 1437, ../../../../Development/dev/sass/application.scss */
#friendView .cl-content h4 {
  font-family: "source_sans_prosemibold";
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
}
/* line 1446, ../../../../Development/dev/sass/application.scss */
#friendView .cl-content #mediaContainer img {
  width: 100%;
  height: auto;
}

/**
* Navigation
*/
/* line 1462, ../../../../Development/dev/sass/application.scss */
#navigationView .cl-content {
  height: calc(100% - 54px);
}
